.buttoncontainer {
  height: 25px;
}

button {
  display: inline-block;
  margin: 0 auto;
}

body {
  background-color: lightblue;
}

.stats {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}