* {
  font-family: 'Press Start 2P', sans-serif;
}

body {
  background-color: lightblue;
}

.startcontainer {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.buttoncontainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.startcontainer button {
  padding: 75px;
  margin-left: 5px;
  background-color: #F3BC6A;
  border-style: solid;
  font-size: 1.7em;
}

.buttoncontainer button {
  padding: 75px;
  margin-left: 5px;
  background-color: #F3BC6A;
  border-style: solid;
}

.stats {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.playerstats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 5px solid black;
  border-right: 0px;
  padding-bottom: 20px;
}

.enemystats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 5px solid black;
  border-left: 0px;
}

.healthholder, .nameholder, .healsholder, .winsholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  margin-top: 20px;
}

.eHealthholder, .eNameholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}

.eNameholder {
  margin-top: 20px;
}

.nametext, .healstext, .healthtext, .winstext, .eNametext, .eHealthtext {
  color: green;
  font-size: 1.7em;
}

.name, .eName {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

progress {
  margin-top: 20px;
}

.gamemessage {
  font-weight: 900;
}

.gamemessageBL {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

